<div class="news-widget">
  <h3 class="news-widget__title"><i class="fas fa-bullhorn icon-pad-right" aria-hidden="true"></i>News &amp; Updates</h3>
  <div class="news-widget__scroll">
    <ul class="news-widget__list news-widget__track">
      {% assign news_items = site.data.news | sort: "date" | reverse %}
      {% comment %} render the list twice back-to-back so the CSS animation (translateY -50%) loops seamlessly {% endcomment %}
      {% for i in (1..2) %}
        {% for item in news_items %}
          <li class="news-widget__item">
            <i class="fas {{ item.icon | default: 'fa-circle-dot' }} news-widget__icon" aria-hidden="true"></i>
            <div class="news-widget__content">
              <a href="{{ item.url | default: '/news/' }}" class="news-widget__link">{{ item.title }}</a>
              {% if item.date %}<span class="news-widget__date">{{ item.date | date: "%b %Y" }}</span>{% endif %}
            </div>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  <a href="/news/" class="btn news-widget__viewall">View All</a>
</div>
